<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="information.length === 0">There are no information.</p>
        <P v-else>Here is all info</P>
        <div v-for="item in information">{{item.name}}:
            <span v-for="n in item.height.filter(n=>n>12)">
                {{n+','}}
            </span>
            <button @click="addCharacter(item.name)">Add</button>
        </div>
        <hr>

        <h3>You favorite characters:</h3>
        <span v-for="(c,index) in favorite">{{c}}{{index+1 === favorite.length ? '.' : ', '}}</span>
        <h3>Added more characters:</h3>
        <input type="text" v-model="character" @keyup.enter="addCharacter(character)"/>
        <!-- <button @click="addCharacter(character)">Add a character</button> -->
        <hr>
        <h3>Age Ranges:</h3>
        <p>Bigger than 10: {{olderThanTen}}</p>
        <p>Bigger than 20: {{olderThanTwenty}}</p>
        <p>Bigger than 50: {{olderThanFifty}}</p>


    </div>  
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

        let a = ['fei','wen']
        console.log(a.includes('fei'))
        Vue.createApp({
            data:()=>({
                
                information:[
                    {
                        id:1,
                        name:'fei',
                        height:[5,3,2]
                    },
                    {
                        id:2,
                        name:'liu',
                        height:[3,54,9]
                    },
                    {
                        id:3,
                        name:'jim',
                        height:[23,4,12]
                    },
                ],
               
                character:'',
                favorite:[],
        
            }),

            computed:{
                olderThanTen(){
                    return (this.information.filter(i=>i.height.find(num=>num>10))).map(n=>n.name)
                },

                olderThanTwenty(){
                    return (this.information.filter(i=>i.height.find(num=>num>20))).map(n=>n.name);
                },

                olderThanFifty(){
                    return (this.information.filter(i=>i.height.find(num=>num>50))).map(n=>n.name);
                },

            },

            methods:{
                addCharacter(name){
                    this.favorite.push(name);
                    this.character = '';//bind to input
                },
                // onChange(e){
                //     this.character = e.target.value;
                   
                // }
            }


        }).mount('#app');
    </script>
</body>
</html>








