<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-if="information.length === 0">There are no information.</p>
        <P v-else>Here is all info</P>
        <div v-for="(item,index) in information" :key="index">
            {{item.name}} {{index}}:
            <span v-for="n in item.height.filter(n=>n>12)">
                {{n+','}}
            </span>
        </div>

        <ul>
            <li v-for='(product, index) in user' :key='product.id' >
              <span v-for='(item,key,index) in product' :key="item">
                {{key+':'}}{{item+'. '}}
              </span>
            </li>
          </ul>
        
    </div>  
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data:()=>({
                
                information:[
                    {
                        id:1,
                        name:'fei',
                        height:[12,43,21]
                    },
                    {
                        id:2,
                        name:'liu',
                        height:[3,54,9]
                    },
                    {
                        id:3,
                        name:'jim',
                        height:[3,4,12,56]
                    },
                ],
                user:[
                        {id: 0, name: 'shirt'},
                        {id: 1, name: 'jacket'},
                        {id: 2, name: 'shoes'}
                    ]
            })
        }).mount('#app');

     
    </script>
</body>
</html>








